<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order View</title>
    <link  rel="stylesheet"  href="/css/order_view.css">
</head>
<body>

<div th:insert="fragments/header_example::headerFragment"></div>

<div class="order-details-container">
    <h2>Информация о Заказе</h2>

    <th:block>

        <p> Имя:<b th:text="${order.getUser().getName()}"></b></p>
        <p> Фамилия:<b th:text="${order.getUser().getLastName()}"></b></p>
        <p> Адрес : <b th:text="${order.getAddress()}"></b></p>
        <p> Дата заказа:<b th:text="${order.getOrderDate()}"></b></p>
        <div th:each="orderItem : ${order.getOrderedProducts()}" class="ordered-item">
            <p> Название товара :<b th:text="${orderItem.getProduct().getName()}"> </b></p>
            <p> Количество товара : <b th:text="${orderItem.getCount()}"></b></p>
            <p> Цена : <b th:text="${orderItem.getProduct().getPrice() * orderItem.getCount()}"></b></p>
        </div>

        <p> Общая сумма : <b th:text="${sum}"></b></p>
    </th:block>

    <form th:action="@{/order/view}" th:object="${order}" method="post" class="order-form">
        <input type="hidden" name="orderId" th:value="${order.id}">

        <div th:if="${user.role.equals(user.role.ADMIN)}" class="admin-section">
            <select class="option" name="status">
                <option th:text="${order.status}"></option>
                <option th:if="${status != order.status}" th:each="status : ${statuses}" th:value="${status}" th:text="${status.name()}"></option>
            </select>
            <button type="submit">Изменить статус</button>
        </div>

        <div th:if="${user.role.equals(user.role.USER)}" class="user-section">
            <p> Статус:<b th:text="${order.status}"></b></p>
        </div>
    </form>
</div>



</body>
</html>