<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>ProductControllerAdmin</title>
    <link rel="stylesheet" href="/css/product_page_main_admin.css">

</head>
<body>

<div th:replace="fragments/header_example::headerFragment"></div>

<th:block>
    <a th:href="@{/products/create}" class="create-product-link">Создать новый товар</a>
    <a th:href="@{/review/moderate}" class="create-product-link">Модерация отзывов</a>
    <a th:href="@{/order/moderate}" class="create-product-link">Модерация заказов</a>

    <div th:each="product : ${productList}" class="product-item">
        <a class="img" th:href="@{/products/view(productId=${product.getId()})}">
            <img th:src="@{'/images/' + ${product.image}}" alt="Product Image" width="60" />
        </a>


        <div class="product-details">
            <a th:href="@{/products/view(productId=${product.getId()})}" th:text="${product.getName()}"></a>
            <a th:href="@{/products/update(productId=${product.getId()})}" class="action-button">Обновить</a>
            <a th:href="@{/products/delete(productId=${product.getId()})}" class="action-button">Удалить</a>
            <a th:href="@{/cart/add(productId=${product.getId()})}" class="action-button">Добавить в корзину</a>
        </div>
    </div>
</th:block>






</body>
</html>