<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block th:if="${!productList.isEmpty()}">
    <div th:each="product: ${productList}" style="border-bottom: 1px solid #ccc">
        <p>Название : <b th:text="${product.getName()}"></b></p>
        <p>Категория : <b th:text="${product.getCategory()}"></b></p>
        <div th:each="value : ${product.getCharacteristicValues()}">
            <p> <b th:text="${value.getCharacteristic()}"></b></p>
            <p> <b th:text="${value.getValue()}"></b></p>
        </div>
    </div>

</th:block>

</body>
</html>