<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
</head>
<body>

<form th:action="@{/human_task_controller/human_resource}" method="get">

    <input type="text" name="ageFrom" th:value="${ageFrom}" placeholder="От возраста">
    <input type="text" name="ageTo" th:value="${ageTo}" placeholder="До возраста">
    <button type="submit">Отправить данные формы</button>

</form>

<th:block th:if="${!humanList.isEmpty()}">
    <div th:each="human : ${humanList}" style="border-bottom: 1px solid #ccc">
        <p>Имя : <b th:text="${human.getName()}"></b></p>
        <p>Возраст : <b th:text="${human.getAge()}"></b></p>
    </div>

</th:block>


<p th:if="${humanList.isEmpty()}">Список пустой!</p>




</body>
</html>
