<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>View - ресурс #3</title>
</head>
<body>

<th:block th:if="${!humans.isEmpty()}">
    <div th:each="human : ${humans}" style="border-bottom: 1px solid #ccc">
        <p>Имя : <b th:text="${human.getName()}"></b></p>
        <p>Возраст : <b th:text="${human.getAge()}"></b></p>
    </div>
    <p> Средний возраст: <b th:text="${avg}">> </b></p>
</th:block>


<p th:if="${humans.isEmpty()}">Список пустой!</p>


</body>
</html>